.uploader {
  border: solid 1px grey;
}

.uploader__thumbnail {
  max-width: 100px;
  max-height: 100px;
  border: solid 1px grey;
}

.uploader__btn {
  border: none;
  position: relative;
  width: 250px;
  height: 25px;
  border-radius: 6px;
  border: solid grey 1px;
}

.uploader__btn input{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 250px;
  opacity: 0.0;
  z-index: 1;
}

.uploader__btn--open {
  position: absolute;
  right: 0;
  top: 0;
  background-color: green;
  color: white;
  width: 60px;
  height: 100%;
  border-radius: 0 5px 5px 0;
}

.uploader:hover,
.uploader__thumbnail:hover,
.uploader__btn:hover {
  border: solid black 1px;
}