<div class="c-container">
  <button class="uploader__btn">
    <div *ngIf="name">{{name}}</div>
    <input type="file"
      class="uploader"
      (change)="onFileChange($event) "
    >
    <div class="uploader__btn--open">📁Open</div>
  </button>

  <div *ngIf="name">
    <div *ngIf="mime">Mime: {{mime}}</div>
    <div *ngIf="width">Width: {{width}}px</div>
    <div *ngIf="height">Height: {{height}}px</div>
    <div *ngIf="size">Size: {{size}}</div>
    <div *ngIf="filePath">Thumbnail:</div>
    <div *ngIf="filePath">
      <img [src]="filePath" class="uploader__thumbnail">
    </div>
    
  </div>
</div>
